
@{
    ViewBag.Title = "GetById";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    function getById() {
        var form = new FormData();
        var addressId = document.getElementById("addressId").value;
        var settings = {
            "url": "https://localhost:44318/Api/Address/" + addressId,
            "method": "GET",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer " + localStorage.getItem('access_token')
            },
            "processData": false,
            "mimeType": "multipart/form-data",
            "contentType": false,
            "data": form
        }

        alert(addressId);

        $.ajax(settings).done(function (response) {
            console.log(response);
            $("#cep").val(reposne.cep);
            $("#logradouro").val(reposne.logradouro);
            $("#complemento").val(reposne.complemento);
            $("#bairro").val(reposne.bairro);
            $("#localidade").val(reposne.localidade);
            $("#uf").val(reposne.uf);
            $("#ibge").val(reposne.ibge);
            $("#gia").val(reposne.gia);
            $("#ddd").val(reposne.ddd);
            $("#siafi").val(reposne.siafi);

        });
    }

</script>

<h2>GetById</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Address</h4>
        <hr />
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2" for="addressId">Id de endereço</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="addressId" name="addressId" type="text" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="cep">Cep</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="cep" name="cep" type="text" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="logradouro">Rua</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="logradouro" name="logradouro" type="text" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="complemento">Complemento</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="complemento" name="complemento" type="text" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="bairro">Bairro</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="bairro" name="bairro" type="text" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="localidade">Cidade</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="localidade" name="localidade" type="text" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="uf">UF</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="uf" name="uf" type="text" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="ibge">IBGE</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="ibge" name="ibge" type="text" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="gia">GIA</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="gia" name="gia" type="text" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="ddd">DDD</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="ddd" name="ddd" type="text" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="siafi">Siafi</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="siafi" name="siafi" type="text" value="">
                </div>
            </div>

            <div class="form-actions no-color">
                <input type="button" value="Buscar" class="btn btn-default" onclick="getById()" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}
