@model IEnumerable<AccessOwnApi.Models.Address>

@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    var form = new FormData();
    var settings = {
        "url": "https://localhost:44318/api/address",
        "method": "GET",
        "timeout": 0,
        "headers": {
            "Authorization": "Bearer " + localStorage.getItem('access_token')
        },
        "processData": false,
        "mimeType": "multipart/form-data",
        "contentType": false,
        "data": form
    };

    $.ajax(settings).done(function (response) {
        var obj = JSON.parse(response);
        console.log(obj[0]);

        var table_row = document.getElementById('table_row')

        for (var i = 0; i < obj.length; i++) {
            var row =   `<tr>
                            <td>${obj[i].cep}</td>
                            <td>${obj[i].logradouro}</td>
                            <td>${obj[i].complemento}</td>
                            <td>${obj[i].bairro}</td>
                            <td>${obj[i].localidade}</td>
                            <td>${obj[i].uf}</td>
                            <td>${obj[i].ibge}</td>
                            <td>${obj[i].gia}</td>
                            <td>${obj[i].ddd}</td>
                            <td>${obj[i].siafi}</td>
                            <td> <a href="/Address/ModifyAddress?addressId=${obj[i].AddressId}">Editar</a></td>
                            <td> <a href="/Address/DeleteAddress?addressId=${obj[i].AddressId}">Deletar</a></td>
                        </tr>`
            table_row.innerHTML += row
        }

    });

</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar", "RegisterNewAddress")
</p>

<table class="table">
    <tr>
        <th>
            CEP
        </th>
        <th>
            RUA
        </th>
        <th>
            COMPLEMENTO
        </th>
        <th>
            BAIRRO
        </th>
        <th>
            CIDADE
        </th>
        <th>
            UF
        </th>
        <th>
            IBGE
        </th>
        <th>
            GIA
        </th>
        <th>
            DDD
        </th>
        <th>
            SIAFI
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>
    <tbody id="table_row">

    </tbody>
</table>