@model AccessOwnApi.Models.Address

@{
    ViewBag.Title = "RegisterNewAddress";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    function redirectCep() {
        var cep = document.getElementById("cep");
        var settings = {
            "url": "https://localhost:44318/Api/Address?cep=" + cep.value,
            "method": "POST",
            "dataType": 'json',
            "headers": {
                "Authorization": "Bearer " + localStorage.getItem('access_token')
            },
        };
        console.log(localStorage.getItem('access_token'));

        $.ajax(settings).done(function (response) {
            console.log(response);
            
        });
        window.location.href = "/Address"
    }

</script>
<h2>RegisterNewAddress</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <h4>Address</h4>
    <div class="form-horizontal">
        <br />
        <div class="form-group">
            <label class="control-label col-md-2" for="cep">Cep</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="cep" name="cep" type="text" value="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Enviar!" class="btn btn-default" onclick="redirectCep()" />
            </div>
        </div>
    </div>
    <div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
