
@{
    ViewBag.Title = "ChangePassword";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    function registerUser() {
        var oldPassword = document.getElementById("oldPassword").value;
        var newPassword = document.getElementById("newPassword").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        var settings = {
            "url": "https://localhost:44318/Api/Account/ChangePassword",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer" + localStorage.getItem('access_token'),
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "OldPassword": oldPassword,
                "NewPassword": newPassword,
                "ConfirmPassword": confirmPassword
            }),
        };

        console.log(oldPassword + " " + newPassword + " " + confirmPassword);

        $.ajax(settings).done(function (response) {
            console.log(response);
        });
    }
</script>

<h2>ChangePassword</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Address</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" for="oldPassword">Senha Antiga: </label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="oldPassword" name="oldPassword" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="newPassword">Nova Senha: </label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="newPassword" name="newPassword" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="confirmPassword">Confirme sua nova senha: </label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="confirmPassword" name="confirmPassword" type="text" value="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" class="btn btn-default" onclick="registerUser()" value="Sign Up" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
