
@if (/*localStorage.getItem('access_token') != null && localStorage.getItem('user_name') != null */)
{
    using (Html.BeginForm("LogOut", "User", new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Olá " + /*localStorage.getItem('user_name')*/ "!", "Index", "Manage", htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Fazer logoff</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrar", "Register", "User", htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logon", "Login", "User", htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
