<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var ul_Nlogged = document.getElementById("ul_Nlogged");
        var ul_logged = document.getElementById("ul_logged");
        if (localStorage.getItem('access_token') != null && localStorage.getItem('user_name') != null) {
            ul_Nlogged.style.display = "none";
            link.append(` ${localStorage.getItem('user_name')}`)

        } else {
            ul_logged.style.display = "none";
            
        }
    });
    function purgeLocalStorage() {
        localStorage.removeItem('access_token');
        localStorage.removeItem('user_name');
    }

</script>


<ul class="nav navbar-nav navbar-right" id="ul_logged">
    <li >
        @Html.ActionLink("Olá", "ChangePassword", "User", routeValues: null, htmlAttributes: new { id="link"})
    </li>
    <li><a href="/" onclick="purgeLocalStorage()">Fazer logoff</a></li>
</ul>
<ul class="nav navbar-nav navbar-right" id="ul_Nlogged">
    <li>@Html.ActionLink("Registrar", "Register", "User")</li>
    <li>@Html.ActionLink("Logon", "Login", "User")</li>
</ul>

